.box1{
    border: 2px solid black;
    background-color: burlywood;
    padding: 10px;
    display: flex;

}
.box2{
    border: 2px dotted green;
    background-color: purple;
    height: 80px;
    width: 80px;
    margin-left: 10px;
}
.box3{
    border: 2px double yellow;
    background-color: aqua;
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-right: 10px;
}
.box4{
    border: 2px dashed red;
    background-color: silver;
    height: 80px;
    width: 80px;
}